.navbar {
  color: white;
  background: #58747F;
}

.navbar-brand {
  color: #ffffff;
}

.nav-item {
  color: #ffffff;
}

.jumbotron {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background: #D5E1E5;
  padding: 10px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .jumbotron {
    background-image: url("../assets/water.png");
    background-size: cover;
  }
}

.jumbotron img {
  width: 250px;
  opacity: 1.0;
}

h1, h2 {
  font-family: serif;
}

p {
  font-family: sans-serif;
}

#about {
  padding-bottom: 4rem;
}

#about img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  padding-right: 10px;
}

#portfolio {
  padding-bottom: 4rem;
}

#portfolio img {
  width: 100%;
  height: 300px;
  max-height: 300px;
  border-radius: 8px;
  object-fit: contain;
  margin-right: 10px;
}

#example img {
  width: 100%;
  border-radius: 2px;
}

#skills {
  padding-bottom: 4rem;
}

#skills h4 {
  text-align: center;
  background: #D5E1E5;
  border-radius: 5px;
}

#skills ul {
  list-style-type: none;
}

#ed {
  padding-bottom: 4rem;
}

#exp {
  padding-bottom: 4rem;
}

section {
  padding: 10px 0;
}

.btn {
  text-align: center;
  float: none;
}

.footer h1{
	padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.footer a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

#contact {
    background: #D5E1E5;
}

#contact ul.social li{
	padding: 3px 0;
}

#contact ul.social li a i {
  margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#contact ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}

#contact ul.social li a:hover{
	color:#eeeeee;
}

#footer {
  background: #58747F;
}
