html, body {
    height: 100%;
}

#title {
    line-height: 0.5em;
}

#footer {
    line-height: 0.25em;
}

#mapid {
    padding: 0px;
    margin: 0px;
    height: 80%;
    width: 100%;
    border-radius: 5px;
}

.leaflet-popup-content {
    margin: 0 0;
}

.range-slider {
    width: 100px;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.sequence-control-container {
    width: 200px;
    background-color: rgba(255,255,255,0.8);
    padding-left: 10px;
    padding-right: 10px;
    line-height: 2em;
    text-align: center;
    border-radius: 5px;
}

.sequence-title {
    line-height: 0em;
}

.legend-control-container {
    width: 200px;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    line-height: 2em;
    text-align: center;
    border-radius: 5px;
}

.legend-title {
    line-height: normal;
}

#temporal-legend {
    line-height: normal;
    font-weight: bold;
}

.layer-selector {
    width: 200px;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    line-height: 2em;
    text-align: center;
    border-radius: 5px;
}

.layer-selector-title {
    line-height: 0em;
}
